body{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #fff3cf;
}

canvas{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -1250px;
	margin-top: -1250px;
}